name: sms_enterprise_app
description: Enterprise SMS earning app (Flutter) - modular example
publish_to: 'none'
version: 1.0.0+1
environment:
  sdk: ">=2.18.0 <4.0.0"
dependencies:
  flutter:
    sdk: flutter
  http: ^0.13.5
  shared_preferences: ^2.1.1
  telephony: ^0.2.0
  provider: ^6.0.5
  flutter_dotenv: ^5.0.2
  cupertino_icons: ^1.0.2
dev_dependencies:
  flutter_test:
    sdk: flutter
flutter:
  uses-material-design: true
  assets:
    - assets/images/logo.png